main{
    min-height: 85vh;
        background-image: linear-gradient(to bottom, #FDEADB, #1D71B8 70%, #1D71B8 100%);
        padding:0;
}
.main-block{
    background-image: url("./img/hero.png");
        min-height: 85vh;
        background-size: cover;
        padding: 0;
        background-position: right;
}
footer{
    height: 100px;
        background-color: #1D71B8;
}
.navbar > .container-xl{
    padding-top: 5px;
    background-color: #FDEADB
}
.navbar{
    padding-top: 0;
}

#quoteBlock{
    background-color: rgba(56, 92, 122, 0.7);
    color: #FDEADB;
    border-radius: 25px;
}

#contentBlock{
    color: rgb(56, 92, 122);
}